spring:
  datasource:
    url: jdbc:mysql://localhost:3306/my_database
    username: root
    password: 123456
  banner:
    charset: UTF-8
  batch:
    job:
      enabled: true

server:
  port: 9096
ribbon:
  eager-load:
    enabled: true



# 监控
management:
  endpoints:
    web:
      exposure:
        include: health,info,env,executor # 或者 *
