<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.productserver.mapper.FreezeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.platform.productserver.entity.Freeze">
        <id column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="freeze_type" property="freezeType" />
        <result column="freeze_amount" property="freezeAmount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id, freeze_type, freeze_amount, create_time, update_time
    </sql>


    <select id="queryFreezeAccount" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_freeze
        where account_id = #{accountId} and freeze_type = #{freezeType}


    </select>

</mapper>
