<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.productserver.mapper.MerchantLogMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.platform.productserver.entity.MerchantLog">
        <id column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="merchant_no" property="merchantNo" />
        <result column="acc_no" property="accNo" />
        <result column="account_type" property="accountType" />
        <result column="request_no" property="requestNo" />
        <result column="order_no" property="orderNo" />
        <result column="other_account" property="otherAccount" />
        <result column="other_account_type" property="otherAccountType" />
        <result column="action_type" property="actionType" />
        <result column="prod_type" property="prodType" />
        <result column="trans_amount" property="transAmount" />
        <result column="balance" property="balance" />
        <result column="remark" property="remark" />
        <result column="source" property="source" />
        <result column="app_id" property="appId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id, merchant_no, acc_no, account_type, request_no, order_no, other_account,
other_account_type, action_type, prod_type, trans_amount, balance, remark, `source`, app_id, create_time
    </sql>

</mapper>
