<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.productserver.mapper.PkgInLogMapper">

    <!-- 开启二级缓存 -->


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.platform.productserver.entity.PkgInLog">
        <id column="id" property="id" />
        <result column="fid" property="fid" />
        <result column="source" property="source" />
        <result column="request_no" property="requestNo" />
        <result column="order_no" property="orderNo" />
        <result column="user_id" property="userId" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="error_msg" property="errorMsg" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="prod_type" property="prodType" />
        <result column="action_type" property="actionType" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fid, `source`, request_no, order_no, user_id, amount, status,
         error_msg, create_time, update_time, prod_type, action_type, remark
    </sql>


    <select id="queryPkgInLogList" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_pkg_in_log
        where fid = #{fid} and status = 1


    </select>

</mapper>
